<!DOCTYPE html>
<html>
<head>
    <title>URIE - Live Heat Dashboard</title>
</head>
<body>

    <h1>Urban Heat Intelligence Engine</h1>

    <label>City:</label>
    <input type="text" id="city" value="Mumbai"><br><br>

    <label>Tree Cover %:</label>
    <input type="range" id="tree" min="0" max="100" value="20"><br><br>

    <label>AC Usage %:</label>
    <input type="range" id="ac" min="0" max="100" value="50"><br><br>

    <label>Traffic Level %:</label>
    <input type="range" id="traffic" min="0" max="100" value="60"><br><br>

    <label>Population Density %:</label>
    <input type="range" id="density" min="0" max="100" value="70"><br><br>

    <button onclick="calculateHeat()">Calculate Heat Risk</button>

    <h2 id="output"></h2>

<script>
function calculateHeat() {

    fetch('/live-heat', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            city: document.getElementById("city").value,
            tree: document.getElementById("tree").value,
            ac: document.getElementById("ac").value,
            traffic: document.getElementById("traffic").value,
            density: document.getElementById("density").value
        })
    })
    .then(response => response.json())
    .then(data => {
        document.getElementById("output").innerHTML =
            "Live Temperature: " + data.temperature + " °C<br>" +
            "Heat Score: " + data.heat_score + "<br>" +
            "Risk Level: " + data.risk;
    });
}
</script>

</body>
</html>